name: "ASP.NET Core CI/CD Pipeline" # Nuevo comentario

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci-pipeline:
    uses: guillipa1993/devops-pipelines-ci-cd/.github/workflows/dotnet-ci.yml@main
    with:
      dotnet-version: '6.0'
